<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solib Interface Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <style>
        table, td, th {
        border : 1px solid black;
        border-collapse : collapse;
        };
    </style>
    <script
        src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <br>
        <h1>SOLIB 도서 공유 플랫폼</h1>
        <br>
        <a href="./adminRegister.html" class="btn btn-outline-primary">관리자 계정 생성</a>
        <a href="./userRegister.html" class="btn btn-outline-primary">유저 등록</a>
        <a href="./registerBook.html" class="btn btn-outline-primary">도서 등록</a>
        <a href="./requestRent.html" class="btn btn-outline-primary">대여 신청</a>
        <a href="./queryBook.html" class="btn btn-outline-primary">도서 조회</a>
        <br>
    </div> 
    <hr>
    <div class='container'>
        <br>
        <h2>도서 대여/반납용 입력란입니다.</h2>
        <br>
        <label class="form-label">도서명</label><br>
        <input type="text" class="from-control" id="bookName">
        <br><br>
        <label class="form-label">소유자 ID</label><br>
        <input type="text" class="from-control" id="ownerId">
        <br><br>
        <button class="btn btn-success" id="btn_rent">대여 승인</button>
        <button class="btn btn-success" id="btn_return">도서 반납</button>
    </div>
    <div class="container" id="result">
    
    </div>
    <br>
    <hr>
    <div class='container'>
        <br>
        <h2>등록된 도서 조회용 인터페이스입니다.</h2>
        <br>
        <div id="booklist_container">
            <table id="booktable">

            </table>
        </div>
        <br>
        <label class="form-label">Solib ID</label><br>
        <input type="text" class="from-control" id="solibId">
        <br><br>
        <button class="btn btn-success" id="btn_AllQuery">등록 도서 조회</button>
        <br><br><br>
    </div>
    <div class="container" id="result">
    
    </div>

</body>
<script>
    $("#btn_rent").click(()=>{
        const bookName = $("#bookName").val();
        const owner = $("#ownerId").val();

        $.post("/book/rent", {bookName, owner}, (data, status) => {
            $("#result").empty();
            const res = JSON.stringify(data);
            $("#result").append(res);
        });
    });

    $("#btn_return").click(()=>{
        const bookName = $("#bookName").val();
        const owner = $("#ownerId").val();

        $.post("/book/return", {bookName, owner}, (data, status) => {
            $("#result").empty();
            const res = JSON.stringify(data);
            $("#result").append(res);
        })
    });

    $("#btn_AllQuery").click(()=>{
        const id = $("#solibId").val();

        $.get("/book/list", {id}, (data, status) => {
            console.log(data.result);
            $("#booktable").empty();
            
            if(data.result == "success"){
                for(let i = 0; i < data.msg.length; i++){
                    if(data.msg[i].Record.state =="registered" || data.msg[i].Record.state =="returned" ){
                        $("#booktable").append('<tr><td>' + data.msg[i].Record.name +"_"+ data.msg[i].Record.owner +"</td></tr>");
                    }
                    
                }
            } else {
                $("#booktable").append("<tr><td>" + "조회 실패" +"</td></tr>");
            }
        });
    });
</script>
</html>