<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossorigin="anonymous"></script>
    <title>Register User account</title>
</head>
<body>
    
    <!-- 사용자 입력 폼  -->
    <div class='container'>
        <br><br>
        <h1>유저 계정 생성 페이지</h1>
        <br>
        <label class="form-label">ID</label><br>
        <input type="text" class="from-control" id="userid">
        <br>
        <label class="form-label">Role</label><br>
        <input type="text" class="from-control" id="userrole">
        <br><br>
        <button class="btn btn-success" id="gen-btn">사용자 인증서</button>
    </div>
    <div class="container" id="result">

    </div>

</body>
<script>
    $("#gen-btn").click(()=>{
        const id = $("#userid").val();
        const userrole = $("#userrole").val();

        $.post("/user", {id, userrole}, (data, status) => {
            $("#result").empty();
            const res = JSON.stringify(data);
            $("#result").append(res);
        })
    })
</script>
</html>